.fixed{
  position: fixed;
}
.dbg{
  bottom: 0;
  right: 0;
  width: 300px;
  background: #f7f7f7;
  border: 1px solid black;
}
.ctl_next{
  right: 0;
}
.ctl{
  position: fixed;
  font-size: 72px;
  background: #f7f7f7;
  bottom: 0;
}
.ctl_prev{
  left: 0;
}
