body{
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  /*background-image: URL('/img/tap/cables.jpg');
  background-size: cover;
  background-position: center;*/
}
.content{
  width: 100%;
  text-align: center;
  padding: 50px 0;
}
.content p{
  font-weight: bold;
  font-size: 22pt;
}
.content a{
  font-weight: bold;
  font-size: 26pt;
  color: #666;
}
@media (max-width: 500px) {
  .content p{
    font-size: 14pt;
  }
  .content a{
    font-size: 16pt;
  }
}
