body{
  background: #f7f7f7;
}
#result{
  display: none;
}
#result a{
  color: #888;
  font-size: 14pt;
  padding: 7px;
}
.progress_line{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 15px;
  width: 0;
  background: #6aff6a;
}
.block{
  max-width: 400px;
  background: #fff;
  display: block;
  margin: 20px auto;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}
.block p{
  margin: 10px;
  font-size: 14pt;
}
.block input{
  margin: 0 0 10px 20px;
}
/*.uploading_files{
}
.naming_files{
}*/
